<h1>Add Student</h1>

<div class="container">

    <fieldset class="form-group">
        <label>Student Name</label>
        <input type="text" [(ngModel)]="name" class="form-control" name="name" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]="email" class="form-control" name="email" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Cell</label>
        <input type="number" [(ngModel)]="cell" class="form-control" name="cell" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Graduation Year</label>
        <input type="number" [(ngModel)]="gradyear" class="form-control" name="gradyear" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Major</label>
        <input type="text" [(ngModel)]="body" class="form-control" name="body" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Type</label>
        <input type="text" [(ngModel)]="type" class="form-control" name="type" required="required">
    </fieldset>
    <button (click)=updateStudent() class="btn btn-success"> Update Student </button>
    <button (click)=updateStudentCancel() class="btn btn-warning"> Cancel </button>


</div>